* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
    height: 100vh;
    overflow: scroll;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.1rem;
}

h1, h2, h3 {
    margin-bottom: 2rem;
}

@media screen and (min-width: 1024px) {
    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 3.2rem;
    }

    h3 {
        font-size: 2.6rem;
    }
}

/* Cards */
.card {
    padding: 1.5rem;
    display: flex;
    max-width: 400px;
    max-height: 300px;
    border: 1px solid #8c8c8c;
    background-color: #3a3a3a;
    margin: 1rem auto;
    gap: 2rem;
    color: #fff;
    line-height: 1.5;
}

.card__img-wrapper {
    width: 60%;
}

.card__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card__info {
    padding: 2rem 0 0;
}

/* Buttons */
.btn {
    font-size: 1.8rem;
    background-color: rgb(1, 65, 130);
    padding: 1rem 1.5rem;
    color: #fff;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    height: 40px;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3rem;
    border-bottom: 2px solid #010101;
    width: 100%;
}

/* Main content */
.main {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.add-books {
    width: 20%;
    display: none;
    border-left: 2px solid #010101;
    height: 100%;;
}

/* Form */
.form {
    margin: 3rem auto; 
    height: 300px;
}

.form__heading {
    text-align: center;
}

.form__input-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: .5rem;
}

.form__checkbox {
    align-items: center;
    gap: .5rem
}

.form__input {
    width: 80%;
    padding: 1.2rem 1rem;
    font-size: 1.6rem;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

#read {
    display: block;
    margin-top: 3px;
}

.books {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    padding: 2rem 2rem 0;
    width: 100%;
}