* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.7rem;
}

h1 {
    font-size: 3.2rem;
}

h2 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2.1rem;
}

/* Cards */
.card {
    padding: 1.5rem;
    display: flex;
    min-width: 300px;
    border: 1px solid #8c8c8c;
    background-color: #3a3a3a;
    margin: 1rem auto;
    gap: 2rem;
    color: #fff;
    line-height: 1.5;
}

.card__img-wrapper {
    width: 60%;
}

.card__image {
    width: 100%;
    height: 100%;
}

.card__info {
    padding: 2rem 0 0;
}